* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2efef;
    color: #aab3c0;
}

body > div {
    height: 100vh;
    display: flex;
    width: 100vw;
}

body,
h2,
input,
button,
textarea {
    font-family: "Roboto Mono", monospace;
}

#home-page {
    display: flex;
    width: 100vw;
    @media screen and (max-width: 750px) {
        flex-wrap: wrap;
        width: auto;
        section{
            padding: 15px;
            width: 600px;
        }
        main{
            padding: 15px;
            header {
                width: 600px;
            }
            .containerInformation{
                width: 600px;
            }
        }
    }
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #161b22;
    width: 100vw;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 560px;

        img {
            align-self: center;
        }

        h2 {
            font-size: 18px;
            text-align: center;
            margin-bottom: 15px;
        }
        h1{
            font-size: 28px;
            line-height: 25px;
            text-align: center;
            margin-top: 38px;
        }
        p{
            text-align: center;
            padding: 5px;
            color: #DE6363;
        }
    }
}